<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Selling/Renting Confirmation</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://c.webfontfree.com/c.js?f=Blacksword"
      type="text/javascript"
    ></script>
  </head>
  <style type="text/css">
    *{ padding: 0px; margin: 0px; box-sizing: border-box; font-family:
    'Poppins', sans-serif; }
  </style>
  <body>
    <div style="height: 100vh;display: flex;align-items: center;">
      <div
        style="background-color: #f5f5f5;background:url('http://34.195.103.99:4005/golden_wave_left_122.png'); background-repeat:no-repeat; padding:30px; border-radius: 10px; max-width: 800px; margin-inline:auto;position: relative; "
      >
        {{! <img
          src="http://34.195.103.99:4005/golden_wave_left_12.png"
          style="opacity: 0.3;width: auto;height: 100%;object-fit: cover; position:absolute; "
        /> }}
        <div>
          <img
            src="http://34.195.103.99:4005/logo.png"
            style="width: 200px; object-fit: contain; margin-inline:auto;display: block; `"
          />
        </div>
        <h3 style="margin-top:25px;font-size: 22px; margin-bottom:15px">Second
          Stage – Congratulations!!!</h3>
        <p style="margin-bottom: 10px;">
          Congratulations! You have
          {{product_buy_rent}}
          a new
          {{product_category}}. We are so excited to see her get a second chance
          on stage. It will be delivered to you in the blink of an eye!
        </p>
        <p style="margin-bottom: 10px;">
          You should receive confirmation of tracking information shortly. You
          can liaise directly with your Seller/Lender for delivery information
          such as tracking numbers etc. If there are any unsolvable issues,
          please
          <a
            href="http://34.195.103.99/buyerform"
            target="_blank"
            style="color: #be891d;"
          >log an Issue Request</a>
          as soon as you can.
        </p>
        <p style="margin-bottom: 10px;">
          Once you get your product, please make sure you tag us in any posts of
          you on stage @secondstagebikini. Good luck on your upcoming
          competition!!
        </p>
        <div style="margin-top: 25px;">
          <p>Cheers,</p>
          <h3 style="font-family: 'Blacksword', cursive;">Second Stage Team</h3>
        </div>
      </div>
    </div>
  </body>
</html>