<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lender Issue Request Confirmation</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://c.webfontfree.com/c.js?f=Blacksword"
      type="text/javascript"
    ></script>
  </head>
  <style type="text/css">
    *{ padding: 0px; margin: 0px; box-sizing: border-box; font-family:
    'Poppins', sans-serif; } /*h2{ font-family: 'Blacksword', cursive; }*/
  </style>
  <body>

    <div style="height: 100vh;display: flex;align-items: center;">
      <div
        style="background-color: #f5f5f5;background:url('http://34.195.103.99:4005/golden_wave_left_122.png'); background-repeat:no-repeat; padding:30px; border-radius: 10px; max-width: 800px; margin-inline:auto;position: relative; "
      >
        <div style="">
          <img
            src="http://34.195.103.99:4005/logo.png"
            style="width: 200px; object-fit: contain; margin-inline:auto;display: block;"
          />
        </div>
        <p style="margin-bottom: 10px; margin-top:25px;">
          Thank you for lodging an Issue Request. We confirm this has been
          received. Please ensure you upload all supporting documentation into
          the Issue Request form so we can help you find a resolution. Make sure
          you include what result you are seeking and what is an acceptable
          solution.
        </p>
        <p style="margin-bottom: 10px;">
          We will be contacting the Renter for their response to your claim.
          They will be required to provide supporting information.
        </p>
        <p style="margin-bottom: 10px;">
          Once we have information from both sides, we will either make a
          decision or contact you both for further information. In the event a
          decision is made, it is binding on both parties and we will advise you
          both of the outcome within 60 days form the lodgement date of your
          Issue Request.
        </p>
        <p style="margin-bottom: 10px;">
          If the issue resolves itself or needs to be amended just jump back
          into the request and edit as needed. For example, if you are making a
          claim for a non-return of a bikini but it does arrive, you may want to
          amend to a request for Late Fee.
        </p>
        <p>
          For further information on Issue Requests and your rights and
          responsibilities, please see our
          <a href="#" style="color: #be891d;">Terms and Conditions</a>
        </p>
        <div style="margin-top: 25px;">
          <p>Cheers,</p>
          <h3 style="font-family: 'Blacksword', cursive;">Second Stage Team</h3>
        </div>
      </div>
    </div>

  </body>
</html>