<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Renter Issue Request</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://c.webfontfree.com/c.js?f=Blacksword"
      type="text/javascript"
    ></script>
  </head>
  <style type="text/css">
    *{ padding: 0px; margin: 0px; box-sizing: border-box; font-family:
    'Poppins', sans-serif; } /*h2{ font-family: 'Blacksword', cursive; }*/
  </style>
  <body>
    <div style="height: 100vh;display: flex;align-items: center;">
      <div
        style="background-color: #f5f5f5;background-image:url('http://34.195.103.99:4005/golden_wave_left_122.png'); background-repeat:no-repeat; padding:30px; border-radius: 10px; max-width: 800px; margin-inline:auto;position: relative; "
      >
        <div style="">
          <img
            src="http://34.195.103.99:4005/logo.png"
            style="width: 200px; object-fit: contain; margin-inline:auto;display: block;"
          />
        </div>
        <h3 style="margin-top:25px;font-size: 22px; margin-bottom:15px">Good
          morning,</h3>
        <p style="margin-bottom: 10px;">
          Please be advised that Second Stage has received an Issue Request
          lodged against you. Details can be found in your User Profile under
          Issue Requests
          <a href="#" style="color: #be891d;">link here to Users profile</a>
          but is summarised below:
        </p>
        <table>
          <tr>
            <td style="width: 140px;">Issue Claimed</td>
            <td><strong>Claimed</strong></td>
          </tr>
        </table>
        <div style="margin-top: 35px;">
          <h4>Value of claim</h4>
          <h4 style="margin-bottom:15px">Supporting evidence</h4>
          <p style="margin-bottom:10px">
            Please log into your profile and lodge your response within 48 hours
            of this email. You can either accept the Issue Request or respond to
            it. If you accept the claim, payment for the full value of the claim
            will be charged to your credit card immediately. If you respond to
            the claim you will be required to upload any evidence you have to
            support your response.
          </p>
          <p style="margin-bottom:10px">
            Failure to lodge a response within 48 hours will result in payment
            for the full value of the claim charged to your credit card.
          </p>
          <p>
            If you respond to the claim and lodge a valid response, we will
            either make a decision or contact you both for further information.
            In the event a decision is made, it is binding on both parties and
            we will advise you both of the outcome within 60 days from the
            lodgement date of the Issue Request.
          </p>
        </div>
        <div style="margin-top: 25px;">
          <p>Cheers,</p>
          <h3 style="font-family: 'Blacksword', cursive;">Second Stage Team</h3>
        </div>
      </div>
    </div>
  </body>
</html>