<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Selling Renting Confirmation</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://c.webfontfree.com/c.js?f=Blacksword"
      type="text/javascript"
    ></script>
  </head>
  <style type="text/css">
    *{ padding: 0px; margin: 0px; box-sizing: border-box; font-family:
    'Poppins', sans-serif; } /*h2{ font-family: 'Blacksword', cursive; }*/
  </style>
  <body>

    <div style="height: 100vh;display: flex;align-items: center;">
      <div
        style="background-color: #f5f5f5;background-image:url('http://34.195.103.99:4005/golden_wave_left_122.png'); padding:30px;background-repeat:no-repeat; border-radius: 10px; max-width: 800px; margin-inline:auto;position: relative; "
      >
        <div style="">
          <img
            src="http://34.195.103.99:4005/logo.png"
            style="width: 200px; object-fit: contain; margin-inline:auto;display: block;"
          />
        </div>
        <h3 style="margin-top:25px;font-size: 22px; margin-bottom:15px">Second
          Stage – Your
          {{product_category}}
          has been listed for
          {{product_buy_rent}}</h3>
        <p style="margin-bottom: 10px;">
          Congratulations on listing your beautiful
          {{product_category}}
          for
          {{product_buy_rent}}
          on Second Stage Bikini. We can’t wait to help you find a new home for
          her, for life or just a season.
        </p>
        <p style="margin-bottom: 10px;">
          You will receive confirmation as soon as someone buys or rents your
          gorgeous product. Keep an eye out in your profile inbox just in case a
          potential buyer/renter has any questions for you. Please answer
          honestly and in a timely manner so that you can avoid any issues and
          ensure the sale/lease of your product.
        </p>
        <p style="margin-bottom: 10px;">
          In the meantime, ensure that you are registered with our
          <a href="#" style="color: #be891d;">courier partner</a>
          for efficient delivery, including ordering your satchels for
          delivery/return. This can be done online from many retailers, or
          easily through us by
          <a href="#" style="color: #be891d;"> clicking here</a>.
        </p>
        <p style="margin-bottom: 10px;">
          If you are not getting as many views as you like, feel free to upgrade
          to the
          <a href="#" style="color: #be891d;">Featured Products</a>
          at any time for as long as you like, to make sure your product is
          front and centre on the Site as well as our social media pages. If you
          want to post your product on socials, feel free to add the link to
          your product and make sure you tag us @secondstagebikini on Instagram
          so we can share it far and wide!
        </p>
        <p>We are so excited that you have chosen us to give your girl a SECOND
          CHANCE ON STAGE!!</p>
        <div style="margin-top: 25px;">
          <p>Cheers,</p>
          <h3 style="font-family: 'Blacksword', cursive;">Second Stage Team</h3>
        </div>
      </div>
    </div>

  </body>
</html>