<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Confirmation</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
    <script src="https://c.webfontfree.com/c.js?f=Blacksword" type="text/javascript"></script>
</head>
<style type="text/css">
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    /*h2{
		font-family: 'Blacksword', cursive;
	}*/
</style>
<body>
    <div style="height: 100vh;display: flex;align-items: center;">
        <div
            style="background-color: #f5f5f5; padding:30px; border-radius: 10px; max-width: 800px; margin-inline:auto;position: relative; ">
            <img src="http://34.195.103.99:4005/golden_wave_left_12.png"
                style="position: absolute;top: 0px;left: 0px;opacity: 0.3;width: auto;height: 100%;object-fit: cover;">
            <div>
                <img src="http://34.195.103.99:4005/logo.png"
                    style="width: 200px; object-fit: contain; margin-inline:auto;display: block;">
            </div>
            <h3 style="margin-top:25px;font-size: 22px; margin-bottom:15px">Welcome to Second Stage!! Your Account is
                now ready to GO</h3>
            <p style="margin-bottom: 10px;">
                Congratulations on registering with Second Stage Bikini. Whether as a buyer, seller, renter or lender,
                Second Stage will help you connect with other competitors and SAVE BIG on your journey to or from stage.
                Bodybuilding is the fastest growing sport in the world and you are now part of a movement to make it
                even more accessible to athletes just like you.
            </p>
            <p>
                Please make sure you read the <a href="http://34.195.103.99/terms" target="_blank"
                    style="color: #be891d;">Terms and
                    Conditions</a> so you
                understand what we do and how we do it. If you have any problems at all, email us here (link) or click
                on the Issue Request on the Site and our staff will be here to help.
            </p>
            <div style="margin-top: 25px;">
                <p>Cheers,</p>
                <h3 style="font-family: 'Blacksword', cursive;">Second Stage Team</h3>
            </div>
        </div>
    </div>
</body>
</html>